.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mq(mob) {
    min-width: 320px;
  }
  @include mq(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @include mq(desktop) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
