<section class="about" id="about">
  <div class="container about-container">
    <h1 class="about-container__title">
      Стоматологічний кабінет Eustoma: Eстетична стоматологія, Лікування зубів
      під мікроскопом, Ендодонтія, Рентгенодіагностика
    </h1>
    <h2 class="about-title">
      Для підтримки здоров’я всього організму необхідно дотримуватись правил
      профілактики захворювань ротової порожнини
    </h2>
    <ul class="about-list">
      <li class="list-item">
        щоденна гігієна ротової порожнини в домашніх умовах
      </li>
      <li class="list-item">
        професійна гігієна ротової порожнини двічі на рік
      </li>
      <li class="list-item">
        після кожного прийому їжі полоскати рот теплою водою
      </li>
      <li class="list-item">кожні три місяці змінювати зубну щітку</li>
      <li class="list-item">користуватися лише якісною зубною пастою</li>
      <li class="list-item">дотримання здорового способу життя</li>
      <li class="list-item">
        регулярне відвідування стоматолога (2 рази в рік)
      </li>
      <li class="list-item">
        своєчасне лікування захворювань ротової порожнини, які вже виникли
      </li>
    </ul>
  </div>
</section>
