<footer class="footer">
  <div class="container footer-container">
    <p class="footer-text">
      <h4>ЗАПИС НА КОНСУЛЬТАЦІЮ ЗА ТЕЛЕФОНОМ</h4>
      <a href="tel:+380964948473">+380964948473</a>
      <span> також у</span>
      <a href="viber://add?number=380964948473"
        ><img src="./images/viber.png" alt="viber_image"
      /></a>
      <span>або</span>
      <a href="https://instagram.com/dr.boykoyana?igshid=YmMyMTA2M2Y=">
        <img src="./images/instagram.png" alt="instagram_image" />
      </a>
    </p>
  </div>
</footer>
