<section class="hero">
  <div class="slider">
    <div class="slider-item">
      <img src="images/1.jpg" alt="photo1" class="slider-photo" />
    </div>
    <div class="slider-item">
      <img src="images/2.jpg" alt="photo2" class="slider-photo" />
    </div>
    <div class="slider-item">
      <img src="images/3.jpg" alt="photo3" class="slider-photo" />
    </div>
    <div class="slider-item">
      <img src="images/5.jpg" alt="photo4" class="slider-photo" />
    </div>
    <div class="slider-item">
      <img src="images/6.jpg" alt="photo5" class="slider-photo" />
    </div>
    <div class="slider-item">
      <img src="images/7.jpg" alt="photo6" class="slider-photo" />
    </div>
  </div>
</section>
