<section class="services" id="services">
  <div class="container services-container">
    <h2>Наші послуги</h2>
    <ul class="services-list">
      <li class="services-list-item">
        естетична стоматологія (відбілювання, професійна гігієна порожнини
        рота,реставрація композитними матеріалами)
      </li>
      <li class="services-list-item">
        лікування ясен (гінгівіт, пародонтит, пародонтоз)
      </li>
      <li class="services-list-item">
        лікування зубів під мікроскопом (лікування карієсу, пломбування порожнин
        зубів, лікування пульпіту)
      </li>
      <li class="services-list-item">
        ендодонтія (лікування кореневих каналів)
      </li>
      <li class="services-list-item">рентгенодіагностика</li>
    </ul>
  </div>
</section>
