<section class="services" id="services">
  <div class="container services-container">
    <h2 class="services-title">Наші послуги</h2>
    <ul class="services-list">
      <li class="services-list__item">
        <img class="services-list__img" src="./images/tooth.png" alt="img" />
        <div class="services-list__wrapper">
          <h3>Eстетична стоматологія</h3>
          <ul class="services-list__item__sub-list">
            <li>відбілювання</li>
            <li>професійна гігієна порожнини рота</li>
            <li>реставрація композитними матеріалами</li>
          </ul>
        </div>
      </li>
      <li class="services-list__item">
        <img class="services-list__img" src="./images/tooth.png" alt="img" />
        <div class="services-list__wrapper">
          <h3>Лікування зубів під мікроскопом</h3>
          <ul class="services-list__item__sub-list">
            <li>лікування карієсу</li>
          </ul>
        </div>
      </li>
      <li class="services-list__item">
        <img class="services-list__img" src="./images/tooth.png" alt="img" />
        <div class="services-list__wrapper">
          <h3>Ендодонтія</h3>
          <ul class="services-list__item__sub-list">
            <li>лікування пульпіту</li>
            <li>лікування періодонтиту</li>
          </ul>
        </div>
      </li>
      <li class="services-list__item">
        <img class="services-list__img" src="./images/tooth.png" alt="img" />
        <div class="services-list__wrapper">
          <h3>Рентгенодіагностика</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
