.about {
  padding-top: 80px;
}
.about-container {
  padding: 0 30px;
  @include mq(tablet) {
    padding: 20px 30px 0 30px;
  }
}
.about-container__title {
  display: none;
}
.about-title {
  font-size: 24px;
  padding-top: 15px;
  line-height: 1;
  margin: 0 auto;
  text-align: center;
  @include mq(tablet) {
    width: 640px;
  }
}
.about-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.list-item {
  list-style: initial;
}
