.footer {
  background-color: black;
  color: #16cd0a;
}
.footer-container {
  padding: 10px 25px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(tablet) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.footer-text h4 {
  margin: 5px 0;
}
footer img {
  display: inline-block;
  width: 35px;
  border-radius: 5px;
  margin: 0 5px;
}
