.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-top: 10px;
  color: #16cd0a;
  background-color: #000;
  z-index: 100;
  backdrop-filter: blur(6px);
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  flex-grow: 1;
  font-size: 30px;
  font-weight: 800;
  line-height: 2;
  font-style: italic;

  @include mq(tablet) {
    font-size: 32px;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 35px;
  font-size: 16px;

  @include mq(tablet) {
    font-size: 22px;
  }
}
.menu-list {
  flex-direction: row;
  align-items: center;
  gap: 25px;
  @include mq(mob) {
    display: none;
  }
  @include mq(tablet) {
    display: flex;
  }
}
.menu-button {
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.75);

  &:hover,
  &:focus {
    background: #16cd0a;
    color: black;
  }

  @include mq(tablet) {
    box-shadow: 0px 0px 15px 7px rgba(255, 255, 255, 0.75);
  }
}
