.hero {
  margin-top: 80px;
}

.slider-photo {
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 0 2px;

  @include mq(tablet) {
    padding: 0 5px;
  }
}

.slider-item {
  &:hover {
    cursor: pointer;
  }
}
