.hero {
  margin-top: 80px;
}

.slider-photo {
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 0 2px;

  @include mq(tablet) {
    padding: 0 5px;
  }
}

.slider-item {
  &:hover {
    cursor: pointer;
  }
}
.slick-dots {
  position: absolute;
  bottom: -50px;
  transform: rotate(270deg);
  left: 50%;
  font-size: 0;
}
.slick-dots li {
  margin: 10px 0;
}
.slick-dots li.slick-active button {
  background-color: rgb(0, 0, 0);
}
.slick-dots button {
  width: 10px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  outline: 0;
  background-color: transparent;
}
.arrow-scroll {
  position: absolute;
  text-align: center;
  z-index: 9;
  right: 0;
  left: 0;
  bottom: 40px;
  &__wrap {
    display: inline-block;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    &_animated {
      animation: arrow-scroll 1.7s infinite ease;
    }
  }
  @keyframes arrow-scroll {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    55% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
